name: my-first-workflow
#To get trigger on every push in the repos 
on: 
 push:
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'

jobs:
 job1:
   name: JOB1
   runs-on: ubuntu-latest
   steps:
     - name: step - 1
       run: |
         pwd
         ls -ltr
         hostname
     - name: Step - 2 Checkout
       uses: actions/checkout@v6.0.1
     - name: step - 3
       run: |
         echo `pwd` > myfile.txt
         ls -ltr
         mkdir artifacts
         echo `ls -ltr` > artifacts/list.txt
         echo `hostname` > artifacts/hostname.txt
         hostname
     - name: Upload Single File
       uses: actions/upload-artifact@v5
       with:
         name: single_file
         path: ./myfile.txt
     - name: Upload from Directory
       uses: actions/upload-artifact@v5
       with:
         name: directory_upload
         path: |
            ./myfile.txt
            artifacts/
         overwrite: true
     - name: Upload multiple files with Exclusions
       uses: actions/upload-artifact@v5
       with:
         name: directory_exclusions
         path: |
             ./myfile.txt
             artifacts/
             !**/hostname.txt
         overwrite: true
 job2:
   name: JOB2
   needs: job1
   runs-on: ubuntu-latest
   steps:
     - name: Before download file
       run: |
         pwd
         ls -ltr          
     - name: Download Single file
       uses: actions/download-artifact@v5
       with:
         name: single_file
     - name: After downloading file
       run: |
         pwd
         ls -ltr          
 job3:
   name: JOB3
   needs: job1
   runs-on: ubuntu-latest
   steps:
     - name: Before download file
       run: |
         pwd
         ls -ltr          
     - name: Download Directory
       uses: actions/download-artifact@v5
       with:
         name: directory_upload
     - name: After downloading directory
       run: |
         pwd
         ls -ltr          
 job4:
   name: JOB4
   needs: job1
   runs-on: ubuntu-latest
   steps:
     - name: Create Directories
       run: |
         mkdir -p single_file
         mkdir -p directory_files
     - name: Before download file
       run: |
         pwd
         ls -ltr  
     - name: Download file
       uses: actions/download-artifact@v5
       with:
         name: single_file
         path: single_file
     - name: Download Directory
       uses: actions/download-artifact@v5
       with:
         name: directory_upload
         path: directory_files
     - name: After downloading directory
       run: |
         pwd
         echo " Checking Single File "
         ls -ltr single_file
         echo " Checking Directory Files "
         ls -ltr directory_files
