name: my-first-workflow
#To get trigger on every push in the repos 
on: 
 push:
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'
  branches:
     - dev
     - 'feature-*'
     - main

jobs:
 job1:
   name: JOB1
   runs-on: ubuntu-latest
   steps:
     - name: step - 1
       run: |
         pwd
         ls -ltr
         hostname
     - name: Step - 2 Checkout
       uses: actions/checkout@v6.0.1
     - name: step - 3
       run: |
         echo `pwd` > myfile.txt
         ls -ltr
         mkdir artifacts
         echo `ls -ltr` > artifacts/list.txt
         echo `hostname` > artifacts/hostname.txt
         hostname
     - name: Upload Single File
       uses: actions/upload-artifact@v5
       with:
         name: single_file
         path: ./myfile.txt
    
 job2:
   name: JOB2
   needs: job1
   runs-on: ubuntu-latest
   steps:
     - name: Before download file
       run: |
         pwd
         ls -ltr          
     - name: Download Single file
       uses: actions/download-artifact@v5
       with:
         name: single_file
     - name: After downloading file
       run: |
         pwd
         ls -ltr
