name: my-first-workflow

#To get trigger on every push in the repositories 
on: 
  push:
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch: # Enabled for manual testing
permissions:
  security-events: write
  actions: read
  packages: write
  contents: read
    
jobs:
  ci-pipeline-jobs:
    uses: Agnathavasi/reuse-workflows/.github/workflows/ci-pipeline.yaml@main
    secrets:
     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
     DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
     DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    
   
   

