name: my-first-workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # Enabled for manual testing

env:
  ENV_TYPE: DEV
  APP_USER: Testuser
  APP_PORT: 80

jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: step - 1
        run: |
          pwd
          ls -ltr
          hostname
      - name: Step - 2 Checkout
        uses: actions/checkout@v4
      - name: step - 3
        run: |
          echo $(pwd) > myfile.txt
          ls -ltr
          mkdir -p artifacts
          ls -ltr > artifacts/list.txt
          hostname > artifacts/hostname.txt
      - name: Upload Single File
        uses: actions/upload-artifact@v4
        with:
          name: single_file
          path: ./myfile.txt

  job2:
    name: JOB2
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Before download file
        run: |
          pwd
          ls -ltr          
      - name: Download Single file
        uses: actions/download-artifact@v4
        with:
          name: single_file
      - name: Referencing Environment Variables
        run: |
          echo "[INFO] Deployment running for ${{ env.ENV_TYPE }} Environment with ${{ env.APP_USER }}"
          echo "[INFO] Deployed Application is running on Port ${{ env.APP_PORT }}"
          echo "[INFO] Deployed Application Secret ${{ secrets.APP_SECRET }}"

  job3:
    name: JOB3
    runs-on: ubuntu-latest
    steps:
      - name: Referring Context Variables
        run: |
          echo "Actor: ${{ github.actor }}"
          echo "Action: ${{ github.action }}"
          echo "Event: ${{ github.event_name }}"
          echo "Runner: ${{ runner.os }}"
          echo "Run Number: ${{ github.run_number }}"

  stage:
    name: STAGE
    runs-on: ubuntu-latest
    if: github.ref == 'refs/head/dev'
    environment: 
       name: staging
    steps:
      - name: Referring Environment variables
        run: |
          echo "[INFO] Deployment Host: ${{ vars.HOST }}"
          echo "[INFO] Deployment User: ${{ vars.USER }}"
      - name: Referring Environment Passwords
        run: |
          echo "[INFO] User ${{ vars.USER }} Password is ${{ secrets.PASSWORD }}"

  production:
    name: PRODUCTION
    runs-on: ubuntu-latest
    if: github.ref == 'refs/head/main'
    environment: 
       name: production
    steps:
      - name: Referring Environment variables
        run: |
          echo "[INFO] Deployment Host: ${{ vars.HOST }}"
          echo "[INFO] Deployment User: ${{ vars.USER }}"
      - name: Referring Environment Passwords
        run: |
          echo "[INFO] User ${{ vars.USER }} Password is ${{ secrets.PASSWORD }}"
