name: CI Pipeline with Reusable Workflow
# To get a trigger on every push in this repo in the main branch
on:
  pull_request:
    branches:
      - main
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'
  push:
    branches:
      - main

permissions:
  actions: read
  security-events: write
  packages: write
  contents: write


jobs:
  ci-pipeline-job:
    uses: Agnathavasi/reuse-workflow/.github/workflows/ci-pipeline.yaml@main
    with:
      run_codeql: true
      run_sonarqube: true
      run_buildimage: true
      run_publishimagetodokcerhub: false
      run_publishimagetoghcr: false
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  
