name: my-first-workflow
#To get trigger on every push in the repos 
on: 
 push:
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'

jobs:
 job1:
   name: JOB1
   runs-on: ubuntu-latest
   steps:
     - name: step - 1
       run: |
         pwd
         ls -ltr
         hostname
     - name: Step - 2 Checkout
       uses: actions/checkout@v6.0.1
     - name: step - 3
       run: |
         echo `pwd` > myfile.txt
         ls -ltr
         mkdir artifacts
         echo `ls -ltr` > artifacts/list.txt
         echo `hostname` > artifacts/hostname.txt
         hostname
     - name: Upload Single File
       uses: actions/upload-artifact@v4
       with:
         name: single_file
         path: ./myfile.txt
     - name: Upload from Directory
       uses: actions/upload-artifact@v4
       with:
         path: |
            ./myfile.txt
            artifacts/

     - name: Upload multiple files with Exclusions
       uses: actions/upload-artifact@v4
       with:
         path: |
             ./myfile.txt
             !/**/hostname.txt
             artifacts/
           
         
         

       
