name: CI Pipeline with Reusable Workflow
# To get a trigger on every push in this repo in the main branch
on:
  pull_request:
    branches:
      - main
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'
  push:
    branches:
      - main

permissions:
  actions: read
  security-events: write
  packages: write
  contents: write


jobs:
  ci-pipeline-job:
    uses: Agnathavasi/reuse-workflows/.github/workflows/ci-pipeline.yaml@main
    with:
      run_codeql: true
      run_sonarqube: true
      run_buildimage: true
      run_publishimagetoghcr: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  deploy-with-kubectl:
     environment: staging
     env:
       - ${{ var.NAMESPACE }}
     needs: ci-pipeline-job
     runs-on: arc-runner-set
     steps:
       - name: checkout
         uses: actions/checkout@v3
       - name: Install kubectl
         run: |
          curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl
          kubectl version --client
       - name: Configure Kubeconfig
         run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          kubectl version
          kubectl get nodes 
       - name: Install yq
         run: |
          sudo curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq
          yq --version
       - name: update image name in deployment YAML
         run: |
          IMAGE_TAGS="${{ github.run_id}}-${GITHUB_SHA::7}"
          export IMAGE="${{ inputs.IMAGE_NAME }}:${IMAGE_TAGS}"
          yq e '.spec.template.spec.containers[0].image = strenv(IMAGE)' manifests/deployment.yaml -i
          cat manifests/deployment.yaml
       - name: create namespace if not exists
         run: |
          kubectl get namespace $NAMESPACE || kubectl create namespace $NAMESPACE
       - name: Deploy to Kubernetes Cluster
         run: |
          kubectl apply -f manifests/ -n $NAMESPACE
       - name: verify deployment
         run: |
          kubectl rollout status deployment/thinknyxapp -n $NAMESPACE
          kubectl get all -n $NAMESPACE