name: my-first-workflow
#To get trigger on every push in the repos 
on: push

jobs:
 job1:
   name: JOB1
   runs-on: ubuntu-latest
   steps:
     - name: Running Single Command in Job
       run: echo "Hi, My first job command"
     - name: Checking Os Release
       run: cat /etc/os-release
     - name: Calling Sleep
       run: sleep 20s
 job2:
   name: JOB2
   runs-on: ubuntu-latest
   steps:
     - name: Getting Hostname for Runner
       run: hostname
     - name: Runing multiple commands
       run: |
         echo "Hi From Job2"
         echo "Date: `date`"
         sleep 20s
 job3:
   name: JOB3
   needs: job1
   runs-on: windows-latest
   steps:
     - name: Running on Single Dependencies
       run: sleep 10
     - name: Checking runnner Hostname
       shell: pwsh
       run: get-computerinfo  
 job4:
   name: JOB4
   needs: [job1,job2,job3]
   runs-on: macos-latest
   steps:
      - name: Running on Multiple Dependencies
        run: sleep 10
      - name: Checking Runner info
        run: sw_vers




