name: my-first-workflow

#To get trigger on every push in the repos
on: 
  push:
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch: # Enabled for manual testing   
jobs:
  unit_test:
    name: Running Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: python setup
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.10'
      - name: install dependencies
        run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt
      - name: Run Unit Tests
        run: |
          mkdir reports
          pytest --junitxml=reports/juint-reports.xml --cov=. --cov-report=term-missing -v
      - name: Upload Unit Test Report
        uses: actions/upload-artifact@v5.0.0
        with:
          name: junit-reports
          path : reports/
       
