name: CI Pipeline with Reusable Workflow
# To get a trigger on every push in this repo in the main branch
on:
  pull_request:
    branches:
      - main
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'
 # push:
  #  branches:
   #   - main

permissions:
  actions: read
  security-events: write
  packages: write
  contents: write


jobs:
  ci-pipeline-job:
    uses: Agnathavasi/reuse-workflows/.github/workflows/ci-pipeline.yaml@main
    with:
      run_codeql: true
      run_sonarqube: true
      run_buildimage: true
      run_publishimagetoghcr: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  deploy-with-kubectl:
     needs: ci-pipeline-job
     uses: Agnathavasi/reuse-workflows/.github/workflows/deploy-kubectl.yaml@main
     with:
      ENVIRONMENT: staging
      IMAGENAME: ghcr.io/agnathavasi/app
     secrets:
      KUBECONFIG: ${{ secrets.KUBECONFIG }}
  selinium-test:
     needs: deploy-with-kubectl
     uses: Agnathavasi/reuse-workflows/.github/workflows/seliniuum-test.yaml@main
     with:
       ENVIRONMENT: staging

   
