name: CI Pipeline with Reusable Workflow
# To get a trigger on every push in this repo in the main branch
on:
  pull_request:
    branches:
      - main
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'
 # push:
  #  branches:
   #   - main
env:
  OCI_REGISTRY: ghcr.io
  OCI_REPOSITORY: ${{ github.repository_owner}}/helm-charts
permissions:
  actions: read
  security-events: write
  packages: write
  contents: write


jobs:
  #ci-pipeline-job:
   # uses: Agnathavasi/reuse-workflows/.github/workflows/ci-pipeline.yaml@main
   # with:
   #   run_codeql: true
   #   run_sonarqube: true
   #   run_buildimage: true
   #   run_publishimagetoghcr: true
   # secrets:
   #   SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
   #   DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
   #   DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  #deploy-with-kubectl:
   #  needs: ci-pipeline-job
    # uses: Agnathavasi/reuse-workflows/.github/workflows/deploy-kubectl.yaml@main
    # with:
    #  ENVIRONMENT: staging
    #  IMAGENAME: ghcr.io/agnathavasi/app
    # secrets:
    #  KUBECONFIG: ${{ secrets.KUBECONFIG }}
  #selinium-test:
   #  needs: deploy-with-kubectl
   #  uses: Agnathavasi/reuse-workflows/.github/workflows/seliniuum-test.yaml@main
   #  with:
   #    ENVIRONMENT: staging
 
  publish-helm-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5.0.0
      - name: setup helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
      - name: Install yq
        run: |
           sudo curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq
           sudo chmod +x /usr/local/bin/yq
      - name: check helm && yq version
        run: |
         helm version
         yq --version
      - name: update image name in chart YAML
        run: |
          export IMAGE_TAGS="${{ github.run_id}}-${GITHUB_SHA::7}"
          export VERSION="0.1.0${IMAGE_TAGS}"
          yq e '.image.tag = strenv(IMAGE_TAGS)' charts/values.yaml -i
          yq e '.version = strenv(VERSION)' charts/Chart.yaml -i
          yq e '.appVersion = strenv(IMAGE_TAGS)' charts/Chart.yaml -i
          cat charts/Chart.yaml
          cat charts/values.yaml
      - name: helm lint
        run: helm lint charts/   
      - name: Helm Package
        run: |
           helm package charts/
           ls -ltr .
      - name: Login to GHCR (OCI)
        run: |
         echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ${{ env.OCI_REGISTRY }} -u ${{ github.actor }} --password-stdin
      - name: Push helm charts to GHCR (OCI)
        run: |
         export IMAGE_TAGS="${{ github.run_id}}-${GITHUB_SHA::7}"
         export VERSION="0.1.0${IMAGE_TAGS}"
         helm push thinknyxapp-${VERSION}.tgz oci://${{ env.OCI_REGISTRY }}/${{ env.OCI_REPOSITORY }}
      - name: Logout to GHCR (OCI)
        run: helm registry logout ${{ env.OCI_REGISTRY }}
        