name: CI Pipeline with Reusable Workflow
# To get a trigger on every push in this repo in the main branch
on:
  pull_request:
    branches:
      - main
 #workflow_dispatch:
 #schedule:
  #- cron: '5 * * * *'
  push:
    branches:
      - main

permissions:
  actions: read
  security-events: write
  packages: write
  contents: write


jobs:
  ci-pipeline-job:
    uses: Agnathavasi/reuse-workflows/.github/workflows/ci-pipeline.yaml@main
    with:
      run_codeql: true
      run_sonarqube: false
      run_buildimage: false
      run_publishimagetoghcr: false
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  deploy-with-kubectl:
     needs: ci-pipeline-job
     runs-on: arc-runner-set
     steps:
       - name: checkout
         uses: actions/checkout@v3
       - name: Install kubectl
         run: |
          curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl
          kubectl version --client
       - name: Configure Kubeconfig
         run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          kubectl version
          kubectl get nodes 
